<div class="container-fluid main" role="main" ng-controller="VoiceCtrl">
    <div class="starter-template">
        <div class="row">
            <div>
                <input class="form-control" placeholder="Speach Text" required="" autofocus="" ng-model="phrase">
            </div>
        </div>
        <div class="row">
            <h4>{{phrase}}</h4>
        </div>
        <!--<div class="row">-->
            <!--<button ng-click="showcat =! showcat" class="btn btn-success">showCat</button>-->
            <!--<button ng-click="showdog =! showdog" class="btn btn-danger">showDog</button>-->
            <!--<div ng-show="showdog" ng-hide="showcat"><p>{{Dog}}</p></div>-->
            <!--<div ng-show="showcat" ng-hide="showdog"><p>{{Cat}}</p></div>-->
        <!--</div>-->
    </div>

    <!-- TODO imporove the voice recognition driver todo list, it will be needed-->
    <!--<div>-->
        <!--<div class="row col-md-12">-->
            <!--<h2>My Todo List</h2>-->
            <!--<form ng-submit="todoAdd()">-->
                <!--<div class="col-md-9">-->
                    <!--<input class="form-control" type="text" ng-model="todoInput" size="50" placeholder="Add New">-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<input class="btn btn-success" type="submit" value="Add New">-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div ng-repeat="x in todoList" class="col-md-12">-->
                <!--<input type="checkbox" ng-model="x.done">-->
                <!--{{$index}}-->
                <!--<span ng-bind="x.todoText"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<button class="btn btn-danger" ng-click="remove()">Remove marked</button>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->

</div>